:root{
 --main-bg-color: #141a1d;

 --primary-color-1000: #242f34;
 --primary-color-800: #34454c;
 --primary-color-600: #445a63;
 --primary-color-400: #546f7a;
 --primary-color-200: white;

 --secondary-color-1000: #6e8e9b;
 --secondary-color-800: #85a0ab;
 --secondary-color-600: #9cb2bb;
 --secondary-color-400: #b4c4cb;
 --secondary-color-200: #cbd6db;

 --gold-color: gold;

 --danger-color: #890000;
 --warning-color: #ebeb00;
 --sucess-color: #80ff00;
 --info-color: #0080ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%; /* 15px */
  animation: name-of-animation 5s normal;
}

body {
  padding: 0;
  margin: 0;
  font-family:'Poppins', sans-serif;
  visibility: hidden;
  background: var(--primary-color-1000);
}

/* Terminal ================*/

.terminal{
  margin: 3rem 0 0 2rem;
  width: 40rem;

  border-radius: 0.3rem;
  background-color: rgba(10, 10, 10, 0.8);
  box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 1);
  position: absolute;
  visibility: visible;
}

.terminal:active{
  cursor: grabbing;
}

.terminal .header-terminal{
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem 0.3rem 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 3s 1s 1s;
}

.terminal .header-terminal .title{
  margin: 0.4rem auto;
  font-size: medium;
  color: white;
}

.terminal .header-terminal .menu{
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.terminal .header-terminal .menu .min{
  background: white;
  width: 10px;
  height: 2px;
  margin: 2px 4px;

  cursor: pointer;
}

.terminal .header-terminal .menu .min:hover{
  background: #6e8e9b;
}

.terminal .header-terminal .menu .max{
  border: 1px solid white;
  width: 8px;
  height: 8px;
  margin: 2px 4px;

  cursor: pointer;
}
.terminal .header-terminal .menu .max:hover{
  background: #6e8e9b;
}

.terminal .header-terminal .menu .close{
  cursor: pointer;
  padding: 2px 4px;
}
.terminal .header-terminal .menu .close:hover{
  background: #6e8e9b;
}

.terminal .console{
  padding: 1rem 2rem 2rem 2rem;
  height: 22rem;

  border-radius: 0 0 0 0.5rem;
  overflow-y: auto;
  scroll-behavior: auto;

  cursor: text;

  visibility: visible;
  transition: opacity 3s 1s 1s;
}

.terminal .console::-webkit-scrollbar {
  width: 0.4rem;
}

.terminal .console::-webkit-scrollbar-track {
  background-color: rgba(70, 70, 70, 0.8);
}
.terminal .console::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid rgba(70, 70, 70, 0.8);
  ;
}

.success{
  color: lightgreen;
}

.user{
  color: var(--info-color);
}

.terminal .console .text {
  text-align: justify;
  line-height: 30px;
  color: white
}

/* About ========================= */

.about{
  margin: 5% 15%;
  color: var(--gold-color)
}

.about .avatar{
  display: flex;
  justify-content: center;
}

.about .avatar img{
  border-radius: 50%;
  width: 10rem;
  border: 4px solid var(--gold-color);
}

.about .text{
  text-align: justify;
  line-height: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .text h3{
  margin: 3% 0;
}

/* Services ===========================*/

.services{
  background-color: var(--secondary-color-400);
  padding: 5% 5%;

  display: flex;
  flex-direction: column;

}

.services h1{
  margin-bottom: 2rem;
  color: var(--primary-color-1000);
}

.services .container{
  display: flex;
  justify-content: space-around;
}

.services .container a{
  text-decoration: none;
}

.services .card{
  padding: 0 0.5rem;
  background-color: var(--primary-color-1000);
  border-radius: 10px;
  max-width: 25rem;
  box-shadow: 3px 3px 5px black;
  transition: .4s;
}

.services .card:hover{
  box-shadow: 3px 3px 6px gray;
  cursor: pointer;
}

.services .card .cardheader{
  border-bottom: solid 2px var(--gold-color);
  padding: 1rem;
  color: white;
}

.services .card .cardbody{
  padding: 2rem 1rem;
  color: white;
  line-height: 1.2rem;
}

.services .card .cardbody p{
  margin: 0 0 2rem 0;
}

.services .card .cardbody img{
  width: 100%;
  border-radius: 10px;
}

/* Responsive ===================== */
@media (min-width: 800px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 800px) {
  .services .container{
    display: flex;
    flex-direction: column;
  }

  .services .card{
    margin: 10px 0;
  }
}

@keyframes name-of-animation {
  0%    { opacity: 0; }
  50%  { opacity: 1; }
}